


<!doctype html>

<html>

<head>

<meta name="renderer" content="webkit">

<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" >

<meta charset="gb2312">

<meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1,user-scalable=no">

<meta name="format-detection" content="telephone=no">

<meta name="apple-mobile-web-app-capable" content="yes" >

<title>上海蜂巢皮秒镭射激光?I上海华美整形医院【祛斑★嫩肤★洗纹身】</title>

<meta name="keywords" content="上海蜂巢皮秒镭射激光,皮秒祛斑,皮秒洗纹身,皮秒嫩肤" />

<meta name="description" content="上海华美医院蜂巢皮秒镭射激光,源自美国,专为解决亚洲人的肌肤而来,祛斑1次效果等于3倍的传统激光,皮秒洗纹身1--2次基本干净不留痕迹,回春嫩肤明星冰冰也在做." /><link href="css/style.css" rel="stylesheet"/>

</head>

<body>


<div class="wrap">
 <div style="width: 93%;margin: 0 auto;">
  <h3 class="commonTitle">点击观看真实治疗效果</h3>
  <div class="addVideo">
   <iframe src='http://player.youku.com/embed/XMjgyMjA3MzU3Mg==' frameborder=0 'allowfullscreen'></iframe>
  </div>
 </div>
 <!--box1-->

<div class="box1 clearfix">

 <h3><img src="/assets/box1_11.jpg" alt=""/></h3>

 <h4>属于每个年龄层的焕肤神器</h4>

 <div class="slide slide1 re" id="slide1">

  <div class="sl"><img id="sl" src="/assets/box1_4.jpg" alt=""/></div><div class="sr"><img id="sr" src="/assets/box1_2.jpg" alt=""/></div>

  <div class="bd">

   <ul>

    <li><img src="/assets/box1_1.jpg" alt=""/></li>

    <li><img src="/assets/box1_2.jpg" alt=""/></li>

    <li><img src="/assets/box1_0.jpg" alt=""/></li>

   </ul>

  </div>

  <div class="hd">

   <ul>

    <li></li>

    <li></li>

    <li></li>

   </ul>

  </div>

 </div>

 <div class="slide slide2" id="slide2">

  <div class="bd">

   <ul>

    <li><img src="/assets/box1_5.jpg" alt=""/></li>

    <li><img src="/assets/box1_6.jpg" alt=""/></li>

    <li><img src="/assets/box1_7.jpg" alt=""/></li>

    <li><img src="/assets/box1_8.jpg" alt=""/></li>

   </ul>

  </div>

  <div class="hd">

   <ul>

    <li></li>

    <li></li>

    <li></li>

   </ul>

  </div>

 </div>

</div>

 <!--box2-->

 <div class="box2 re">

  <img src="/assets/box2_1.jpg" alt=""/>

  <img src="/assets/box2_2.jpg" alt=""/>

  <img src="/assets/box2_3.jpg" alt=""/>

  <img src="/assets/box2_4.jpg" alt=""/>

  <a href="javascript:void(0)" onclick="openZoosUrl();return false;" class="link ab"><img src="/assets/btn1.png" alt=""/></a>

 </div>

 <!--box3-->

<div class="box3">

 <h4>一台即可解决所有肌肤问题</h4>

 <h3><img src="/assets/box3.jpg" alt=""/></h3>

 <div class="box3Con re">

  <section class="sec1">

   <h5>祛除色素 <span><img src="/assets/hot.jpg" alt=""/></span></h5>

   <p>因为皮秒激光的速度非常快，爆破能力强，可以将黑色素瞬间击碎成细沙状态，所以代谢非常快，只需1-3次就可以祛除干净。</p>

   <img src="/assets/box3_1.jpg" alt=""/>

  </section>

  <section class="sec2">

  <h5>洗纹身洗眉 <span style="right: 10%"><img src="/assets/hot.jpg" alt=""/></span></h5>

  <p>目前全球zui好的洗纹身设备，没有之一，针对黄、绿、红、黑等颜色纹身，1次就基本清除干净，并且不会留有疤痕。</p>

  <img src="/assets/box3_2.jpg" alt=""/>

  </section>

  <section class="sec3">

   <h5>美白嫩肤</h5>

   <p>皮秒特殊的治疗模式，可以在皮肤中产生细小的冲击波，从而启动修复机制，让肌肤再生，提亮肤色、收细毛孔、祛除黑头、改善粉刺及油脂分泌、祛除痘印痘坑。</p>

   <img src="/assets/box3_3.jpg" alt=""/>

  </section>

  <section class="sec4">

   <h5>紧肤除皱 </h5>

   <p>目前市场上唯一可进行蜂巢紧致嫩肤模式系统，可刺激胶原增生，1-2次就可收细毛孔，抚平面颈部皱纹，让全脸皮肤紧实平滑，持久年轻。</p>

   <img src="/assets/box3_4.jpg" alt=""/>

  </section>

  <a href="javascript:void(0)" onclick="openZoosUrl();return false;" class="link ab"><img src="/assets/btn2.png" alt=""/></a>

 </div>

</div>

 <!--box4-->

 <div class="box4">

  <img src="/assets/box4_1.jpg" alt=""/>

  <img src="/assets/box4_2.jpg" alt=""/>

  <img src="/assets/box4_3.jpg" alt=""/>

 </div>



<!--box5-->
<!-- 
<div class="box5">

 <h3><img src="/assets/box5.jpg" alt=""/></h3>
 <h4>蜂巢皮秒镭射要历经数年<br/>严格临床安全技术验证</h4>

 <p>因非法美容机构横行，众多美容院无资质、无安全保障，却声称可以进行医疗项目，导致毁容事件频发。</p>

 <div class="slide slide3 re" id="slide3">

  <div class="sl"><img id="sl1" src="/assets/box1_4.jpg" alt=""/></div><div class="sr"><img id="sr1" src="/assets/box1_2.jpg" alt=""/></div>

  <div class="bd">

   <ul>

    <li><img src="/assets/box5_1.jpg" alt=""/></li>

    <li><img src="/assets/box5_2.jpg" alt=""/></li>

    <li><img src="/assets/box5_3.jpg" alt=""/></li>

    <li><img src="/assets/box5_4.jpg" alt=""/></li>

    <li><img src="/assets/box5_0.jpg" alt=""/></li>

   </ul>

  </div>

  <div class="hd">

   <ul>

    <li></li> <li></li> <li></li> <li></li> <li></li>

   </ul>

  </div>

 </div>

 <img src="/assets/box5_6.jpg" alt=""/><img src="/assets/box5_7.jpg" alt=""/><img src="/assets/box5_8.jpg" alt=""/><img src="/assets/box5_9.jpg" alt=""/>

</div> -->

 <!--box6-->

 <div class="box6 clearfix">

  <h3><img src="/assets/box6.jpg" alt=""/></h3>

  <h4>20%靠仪器，80%靠医生</h4>

  <ul>

   <li class="fl">

   <img src="/assets/box6_1.jpg" alt=""/>

   <p>根据皮肤科学检测报告，做出对应治疗方案</p>

  </li>

   <li class="fr">

    <img src="/assets/box6_2.jpg" alt=""/>

    <p>判断肌肤问题的深浅、大小调节治疗参数</p>

   </li>

  </ul>

  <ul>

   <li class="fl">

    <img src="/assets/box6_3.jpg" alt=""/>

    <p>严格把控能量的强弱，保障安全有效</p>

   </li>

   <li class="fr">

    <img src="/assets/box6_4.jpg" alt=""/>

    <p>根据顾客治疗后的不同反应给予方案建议</p>

   </li>

  </ul>

 </div>

 <!--box7-->
<!-- 
 <div class="box7 clearfix re">

  <h3><img src="/assets/box7.jpg" alt=""/></h3>

  <h4>治疗更安全</h4>

  <img src="/assets/box7_1.jpg" alt=""/>

  <img src="/assets/box7_2.jpg" alt=""/>

  <a href="javascript:void(0)" onclick="openZoosUrl();return false;" class="link"><img src="/assets/btn3.png" alt=""/></a>

 </div> -->

 <!--box8-->

 <!-- <div class="box8 re">

  <img src="/assets/box8_1.jpg" alt=""/><img src="/assets/box8_2.jpg" alt=""/><img src="/assets/box8_3.jpg" alt=""/>

  <a href="javascript:void(0)" onclick="openZoosUrl();return false;" class="link ab"><img src="/assets/btn4.png" alt=""/></a>

 </div> -->

</div>



<script type="text/javascript">



 TouchSlide({

  slideCell:"#slide1",

  titCell:".hd ul", //开启自动分页 autoPage:true ，此时设置 titCell 为导航元素包裹层

  mainCell:".bd ul",

  effect:"leftLoop",

  autoPlay:true,//自动播放

  autoPage:true, //自动分页

  interTime:3500,

  endFun:function(i,c){



   document.getElementById('sl').src='/assets/box1_'+i+'.jpg';

   document.getElementById('sr').src='/assets/box1_'+(i+2)%3+'.jpg'

  }

 });



 TouchSlide({

  slideCell:"#slide2",

  titCell:".hd ul", //开启自动分页 autoPage:true ，此时设置 titCell 为导航元素包裹层

  mainCell:".bd ul",

  effect:"leftLoop",

  autoPlay:true,//自动播放

  autoPage:true, //自动分页

  interTime:3500

 });



 TouchSlide({

  slideCell:"#slide3",

  titCell:".hd ul", //开启自动分页 autoPage:true ，此时设置 titCell 为导航元素包裹层

  mainCell:".bd ul",

  effect:"leftLoop",

  autoPlay:true,//自动播放

  autoPage:true, //自动分页

  interTime:3500,

  endFun:function(i,c){



   document.getElementById('sl1').src='/assets/box5_'+i+'.jpg';

   document.getElementById('sr1').src='/assets/box5_'+(i+2)%5+'.jpg'

  }

 });



</script>
</body>

</html>
<!-- 
<script>
    $(function () {
        $(window).resize(function () {
            $(".addVideo").height($(".addVideo").width()*383/497);
            $(".addVideo iframe ").width($(".addVideo").width()*407/497);
            $(".addVideo iframe ").height($(".addVideo").height()*306/383);
        }).trigger("resize");
    })
</script>
 -->

